.responsive--tabs{
    margin-top: 0px;
}

.responsive--tabs .estado {
    display: none;
}

.responsive-tabs .flex-tabs .panel{
    background-color: #FFF;
    padding: 20px;
    min-height: 250px;
    width: 100%;
    flex-basis: auto;
    display: none;
}