/* Estilos para página de bienvenida */
/* Cuerpo */
body {
    margin: 0;
    padding: 0;
}

/* Grid CSS Layout */
.contenedor {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 0.5fr;
    grid-template-rows: 150px 500px 85px;
    grid-template-areas: "cabecera cabecera cabecera"
                         "izquierda descripcion enlaces"
                         "pie pie pie";
}

.cabecera {
    background-color: rgb(25, 25, 25);
    grid-area: cabecera;
}

.izquierda {
    background-color: rgb(25, 25, 25);
    grid-area: izquierda;
}

.descripcion {
    background-color: white;
    grid-area: descripcion;
}

.enlaces {
    background-color: rgb(25, 25, 25);
    grid-area: enlaces;
}

.pie {
    background-color: rgb(25, 25, 25);
    grid-area: pie;
}

/* Cabecera */
.cabecera h1 {
    text-align: center;
    color: white;
    padding: 25px;
}

/* .cabecera div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: white;
} */

/* Pie */
.pie p {
    text-align: center;
    color: white;
    padding: 25px;
}