html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(47, 255, 57);
}

h1 {
    color: white;
    padding: 5px;
    font-family: Arial, sans-serif;
    margin-left: 10px;
}

.cabecera, .enlaces, .footer {
    width: 100%;
}

.cabecera {
    background-color: rgb(252, 0, 63);
    margin-top: 0;
}

div.enlaces {
    display: flex;
    background-color: rgb(214, 208, 208);
    color: rgb(133, 129, 129);
    width: 100%;
}

p {
    text-align: center;
    margin-left: 25px;
    padding: 10px;
}

.footer {
    width: 100%;
    height: 60px;
}