html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #27e627;
}

.cabecera {
    background-color: #d81e3a;
    margin-top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.enlaces {
    display: flex;
    width: 100%;
    background-color: #d6d0d0;
    color: #858181;
    text-align: center;
    height: 50px;
}

.enlaces p {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    height: 100%;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.enlaces p:hover {
    background-color: #555;
    color: #fff;
}

.footer {
    width: 100%;
    height: 100%;
}